html {
   font-size: 15px;
   margin: 0;
   padding: 0;
}
* {
   background-repeat: no-repeat;
}
body {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   position: relative;
   font-family: $montserrat;
}

section {
   padding: 3rem 0;
}
.port {
   width: 100%;
   padding: 0 30px;
}
.gutter .port {
   max-width: 1260px;
   margin: auto;
}

// @media (max-width: 1259px) {
//    .gutter .port {
//        width: 100%;
//        max-width: none;
//        padding-left: 30px;
//        padding-right: 30px;
//        }
