.enroll {
   padding-top: 9rem;
   position: relative;
   .enroll-left {
      padding: 0 20px;
   }
   .enroll-right {
      padding: 0 20px;

      .enroll-right-content {
         border-radius: 10px;
         height: 100%;
         box-shadow: 0 30px 30px -10px rgb(0 0 0 / 20%);
         background: white;
         display: flex;
         flex-direction: column;
         padding-bottom: 20%;
         .title {
            font-size: 2.5em;
         }
         .button-purple {
            @include styleText($fs-1, $fw-2, $color-white-1);
            text-transform: uppercase;
            width: 40%;
            padding: 1.4em 1.5em;
         }
      }
   }
   .enroll-bg {
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: -1;
   }
}

.enroll {
   .enroll-input {
      outline: none;
      transition: all 500ms;
      border-radius: 50px;
      font: inherit;
      width: 100%;
      background: transparent;
      line-height: 1;
      padding: 1em 1em 1em 3.5em;
      font-size: $fs-1;
      height: 3.7em;
      border: 1px solid rgba(0, 0, 0, 0.1);
      align-items: center;
      &:focus {
         border: 1px solid rgba(0, 0, 0, 0.3);
         box-shadow: 0 0 4px 0 rgb(0, 0, 0, 10%);
      }
   }
   .enroll-textarea {
      height: 90px !important;
      padding: 1em 1em 1em 3.5em;
      width: 100%;
      border-radius: 20px;
   }
   .icon-enroll {
      position: absolute;
      top: 1em;
      left: 2em;
      line-height: 1;
      color: $color-purple-1;
   }
}
