header {
   width: 100%;
   transform: translateY(0);
   transition: all 0.3ms;
   position: absolute;
   z-index: 999;
   a {
      transition: all 100ms linear;
      position: relative;
      text-decoration: none;
   }
}

header {
   .logo {
      position: relative;
      .logo-container {
         position: absolute;
         order: 0;
         top: 0;
         left: 0;
         img {
            width: 80px;
         }
      }
   }
   .menu {
      font-size: $fs-3;
      position: relative;
      .main-menu {
         display: flex;
         float: right;
         list-style: none;
         align-items: baseline;
         margin: 0;
         li {
            float: left;
            padding: 0 50px 0 0;
            a {
               line-height: 80px;
               padding: 0;
               @include styleText($fs-3, $fw-2, $color-black-1);
               display: block;
            }
            &:hover {
               .main-menu-link {
                  color: $color-purple-1;
                  text-decoration: none;
               }
            }
         }
      }
   }
   .top-bar {
      display: flex;
      height: 80px;
      float: right;
      margin-right: 10px;
      align-items: center;
      .top-bar-content {
         line-height: 38px;
         display: flex;
         align-items: center;
         vertical-align: middle;
         font-size: $fs-1;
         a:nth-child(1) {
            color: $color-white-1;
            text-decoration: none;
            &:hover {
               @include styleHoverBtn(none, none, $color-purple-1);
            }
            i {
               padding-right: 0.5em;
            }
         }
         a {
            @include styleText(1.25em, $fw-3, $color-black-1);
            margin-left: 1em;
            &:hover {
               i {
                  color: $color-purple-1;
               }
            }
         }
      }
   }
}

.main-menu {
   li:nth-child(1) {
      a::after {
         opacity: 1;
         transform: scale(0.9);
      }
   }
   li {
      a:after {
         content: '';
         opacity: 0;
         position: absolute;
         bottom: -4px;
         margin-left: -4px;
         left: 50%;
         pointer-events: none;
         height: 8px;
         width: 8px;
         border-radius: $br-3;
         background: $color-purple-1;
         transition: all 200ms linear;
         transform: scale(0);
         z-index: 10;
      }

      &:hover {
         a:after {
            opacity: 1;
            transform: scale(1.4);
         }
      }
   }
}

header {
   .main-menu {
      .sub-menu {
         box-shadow: 0 0 10px 0 rgb(204 204 204 / 50%);
         opacity: 0;
         visibility: hidden;
         position: absolute;
         max-width: 780px;
         width: 100%;
         background: white;
         left: 0;
         display: flex;
         margin: 0;
         padding-left: 2%;
         transition: all 0.3s;
         transform: scale(0.9);
         .sub-menu-item {
            &:hover {
               ul {
                  a {
                     color: $color-black-1;
                  }
               }
            }
         }
         li {
            list-style: none;
            .item-title {
               padding: 1em 1em;
               padding-left: 0;
               border-bottom: 2px solid $color-purple-1;
            }
            a {
               font-size: 0.9em;
               line-height: 1.7;
               text-decoration: none;
               &:after {
                  content: none;
               }
               &:hover {
                  color: $color-purple-1;
               }
            }
            ul {
               li {
                  border-bottom: 2px solid $color-white-1;
                  width: 100%;
                  .item-list {
                     padding: 1em 1em;
                     padding-left: 0;
                     line-height: 1.7;
                     &:hover {
                        color: $color-purple-1;
                     }
                  }
               }
               li:nth-child(4) {
                  border-bottom: none;
               }
            }
         }
      }
   }
}

header {
   .main-menu {
      li:nth-child(1) {
         &:hover {
            .sub-menu {
               opacity: 1;
               visibility: visible;
               transform: scale(1);
            }
         }
      }
   }
}
